# Configurações de Identidade (Azure MSAL)
VITE_AZURE_CLIENT_ID=
VITE_AZURE_TENANT_ID=

# Endpoints de API
VITE_API_SLIM_URL=
VITE_API_GAJI9_URL=
VITE_API_INTRANET_URL=
VITE_API_FORMINGA_URL=
VITE_API_CORENET_URL=
VITE_API_SUPORTE_CLIENTE_URL=

# Configurações do App
VITE_APP_TITLE=DigitalDocs
VITE_BASE_URL=https://digitaldocs.caixa.cv

# Suporte ao cliente
VITE_CONTEUDOS_PORTAL=Modal confirmação email,Descrição do módulo de suporte,Cabeçalho Portal,Cabeçalho Suporte,Cabeçalho EMI,Cabeçalho FAQ
